<div class="watch-container">
  <div class="watch-layout">
    <!-- Episode Sidebar (Only for TV Shows) -->
    <div>
      <p-button label="Back" icon="pi pi-arrow-left" routerLink="/homepage" />
    </div>
    <div class="sidebar-wrapper">
      <div class="sidebar">
        <div class="select-section">
          <p-select
            [options]="seasonOptions"
            [(ngModel)]="selectedSeason"
            placeholder="Select Season"
            (onChange)="onSeasonChange($event.value)"
            optionLabel="label"
            optionValue="value"
            styleClass="custom-select"
          ></p-select>
        </div>
        <ul class="list-section">
          @if(isTVShow){ @if(episodeOptions.length>0){ @for (ep of
          episodeOptions; track ep; let i = $index) {
          <li
            class="boxed-episode"
            [class.active]="selectedEpisode === ep.value"
            (click)="onEpisodeSelect(ep)"
          >
            {{ i + 1 }}
          </li>
          } } @else {
          <i
            class="pi pi-spin pi-spinner"
            style="font-size: 2rem; color: white !important"
          ></i>

          } } @else {
          <li class="boxed-episode" [class.active]="true">1</li>
          }
        </ul>
      </div>
    </div>
    <!-- Main Content Area -->
    <div class="main-content">
      <!-- Video Player Section -->

      <div class="player-section">
        <div class="player-wrapper">
          <div #container class="yt-container">
            <youtube-player
              [videoId]="trailerKey"
              [width]="videoWidth"
              [height]="videoHeight"
              (stateChange)="onPlayerStateChange($event)"
              (ready)="onPlayerReady($event)"
              [playerVars]="playerVars"
            ></youtube-player>
          </div>
        </div>
      </div>

      <!-- Player Controls -->
      <div class="player-controls">
        <div class="control-buttons">
          <button class="control-btn">
            <i class="pi pi-stop"></i> Auto Play
          </button>
          <button class="control-btn">
            <i class="pi pi-stop"></i>Auto Next
          </button>
          <button class="control-btn">
            <i class="pi pi-stop"></i>Auto Skip
          </button>
          <button class="control-btn">
            <i class="pi pi-lightbulb"></i> Light
          </button>
          <button class="control-btn" (click)="prevEpisode()">
            <i class="pi pi-step-backward"></i> Prev
          </button>
          <button class="control-btn" (click)="nextEpisode()">
            <i class="pi pi-step-forward"></i> Next
          </button>
        </div>
      </div>
      <div class="selected-episode-name">{{ selectedEpisodeName }}</div>
    </div>

    <!-- Related Section -->
    <div class="related-section">
      <div class="related-title">Related</div>
      <!-- You would add related content components here -->
    </div>
  </div>
</div>
