<div class="carousel-item-wrapper">
  <!-- Skeleton loader -->
   <div>
  <div
    *ngIf="loading"
    class="skeleton-container"
    [ngStyle]="{
    'width': ((isSearch && isSearch.trim() !== '') || isFiltered) ? '260px' : 'auto'
  }"
  >
    <p-skeleton
      width="100%"
      effect="wave"
      height="16rem"
      styleClass="skeleton-card"
      loading="lazy"
    ></p-skeleton>

    <p-skeleton width="100%" borderRadius="16px"></p-skeleton>
    <div class="rating-skeleton">
      <p-skeleton
        effect="wave"
        width="5rem"
        styleClass="skeleton-bottom"
        loading="lazy"
        borderRadius="16px"
      ></p-skeleton>
      <p-skeleton
        effect="wave"
        width="6rem"
        styleClass="skeleton-bottom"
        borderRadius="16px"
        loading="lazy"
      ></p-skeleton>
    </div>
  </div>

  <!-- Card content -->
  <i
    *ngIf="
      isCertificationAdult(certification) &&
      !isAdult &&
      !wentThroughVerification
    "
    class="verify-btn pi pi-eye-slash"
    (click)="verifyAge()"
  ></i>

  <div
    *ngIf="!loading"
    [ngClass]="{
      'limited-width': (isSearch && isSearch.trim() !== '') || isFiltered,

    }"
  >
    <!-- Eye-slash icon: shows only if certification is adult-rated AND user is not isAdult -->

    <div class="flip-card" [ngClass]="{}" (mouseover)="apiCallCount===0 && loadExtraData()">
      <div
        class="flip-card-inner"
        [ngClass]="{
          'adult-item-hover': isCertificationAdult(certification) && !isAdult
        }"
      >
        <!-- FRONT -->
        <div class="flip-card-front" [ngClass]="{}">
          <div
            class="movie-card"
            [ngClass]="{
              'adult-item': isCertificationAdult(certification) && !isAdult
            }"
          >
            <!-- If certification is adult, display a placeholder; otherwise poster image -->
            <!-- <img
              *ngIf="isCertificationAdult(certification)"
              [src]="
                'https://image.tmdb.org/t/p/original/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg'
              "
              [alt]="movie.title || movie.name"
              loading="lazy"
            />
            <img
              *ngIf="!isCertificationAdult(certification)"
              [src]="
                'https://image.tmdb.org/t/p/w500/1E5baAaEse26fej7uHcjOgEE2t2.jpg'
              "
              [alt]="movie.title || movie.name"
              loading="lazy"
            /> -->
            <img
              [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path"
              [alt]="movie.title || movie.name"
              loading="lazy"
            />

            <div class="movie-info">
              <h6 class="movie-title" style="line-height: normal">
                {{ movie.title || movie.name }}
              </h6>

              <div
                *ngIf="showRating"
                class="d-flex align-items-center justify-content-between"
              >
                <small class="text-white">
                  {{ movie.vote_average / 2 | number : "1.0-1" }}/5
                </small>
                <p-rating
                  [ngModel]="movie.vote_average / 2"
                  [readonly]="true"
                  [stars]="5"
                  class="primeng-rating"
                ></p-rating>
              </div>
            </div>
          </div>
        </div>

        <!-- BACK -->
        <div class="flip-card-back">
          <div class="info-row">
            <!-- <p>certification: {{certification}} </p> -->
            <p class="info-label">Released:</p>
            <span class="info-value">
              {{ movie.release_date | date : "mediumDate" }}
              {{ movie.first_air_date | date : "mediumDate" }}
            </span>
          </div>
          @if(askedToFetch && cast.length===0){
          <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>

          }

          <div *ngIf="cast.length > 0">
            <div class="info-row">
              <span class="info-label">Cast:</span>
            </div>
            <ul class="cast-list">
              <p-scrollpanel
                  styleClass="filter-scroll-panel"

                [style]="{
                  width: '100%',
                  height: '178px',
                  marginBottom: '2rem'
                }"
                class="mb-2"
              >
                <li class="cast-item" *ngFor="let actor of cast">
                  {{ actor }}
                </li>
              </p-scrollpanel>
            </ul>
          </div>

          <div class="genres-container">
            <p-iconfield>
              <div class="card-footer">
              <a *ngIf="movie.homepage" [href]="movie.homepage" target="_blank">
                <i
                  class="pi pi-info-circle me-2"
                  pTooltip="More Info"
                  tooltipPosition="top"
                  style="
                    cursor: pointer;
                    font-size: 1.2rem;
                    left: 0;
                  "
                ></i>
              </a>

              <i
                class="pi pi-video"
                pTooltip="Watch Trailer"
                tooltipPosition="top"
                style="
                  cursor: pointer;
                  font-size: 1.2rem;
                  right: 0;
                "
                (click)="emitTrailer(movie.id)"
              ></i>
              </div>
            </p-iconfield>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
