.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
}
.continue-guest {
  text-decoration: none;
  color: rgb(122, 111, 111);
}

.continue-guest:hover {
  text-decoration: none;
  color: black;
}
a {
  text-decoration: none;
}
.login-card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background: white;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}
[data-theme="dark"] .login-card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background: rgb(34, 26, 26);
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}
.card-header {
  margin-bottom: 2rem;
  text-align: center;

  h1 {
    margin-bottom: 0.5rem;
    color: #2c3e50;
    font-weight: 600;
  }

  p {
    color: #95a5a6;
    margin: 0;
  }
}

.form-field {
  margin-bottom: 1.5rem;

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #34495e;
  }

  .p-input-icon-left,
  .p-input-icon-right {
    width: 100%;
  }

  input {
    width: 100%;
    padding: 0.75rem 2.5rem;
  }

  .password-toggle {
    cursor: pointer;
    color: #7f8c8d;

    &:hover {
      color: #34495e;
    }
  }
}

.p-error {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.875rem;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;

  .remember-me {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    label {
      color: #7f8c8d;
      margin: 0;
      font-weight: normal;
    }
  }

  .forgot-password {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}

.form-actions {
  margin-top: 1rem;

  .login-btn {
    width: 100%;
    padding: 0.75rem;
    font-weight: 500;
  }
}

.signup-link {
  margin-top: 1.5rem;
  text-align: center;

  p {
    color: #7f8c8d;
    margin: 0;
  }

  a {
    color: var(--primary-color);
    font-weight: 500;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
.user-icon {
  position: absolute;
  left: 10px;
  top: 1px;
}
.password-icon {
  position: absolute;
  left: 10px;
  z-index: 1;
  top: 15px;
}
.password-field {
  position: relative;
  display: flex;
  align-items: center;
}

.password-toggle {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: var(--text-color-secondary);
  font-size: 1.1rem;
}
