/* [data-theme="dark"] .navbar-title {
    color: white !important;
} */
 .custom-navbar .p-menubar-mobile .p-menubar-button{
margin-top: 500px;    left: 0
 }
[data-theme=dark] .login-btn{
    background-color: transparent !important;
}