<div class="navbar-container">
  <p-menubar [model]="menuItems" styleClass="custom-navbar" class="custom-navbar">
  <ng-template pTemplate="start">
    <div class="navbar-logo">
      <span class="navbar-title">🎬 Movie App</span>
    </div>
  </ng-template>

  <ng-template pTemplate="item" let-item>
    <a
      *ngIf="item.routerLink"
      [routerLink]="item.routerLink"
      routerLinkActive="active-nav-item"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link"
      >{{ item.label }}</a
    >
  </ng-template>

  <ng-template pTemplate="end">
    <div style="display: flex; align-items: center; justify-content: center">
      <app-toogle-theme></app-toogle-theme>
      @if(userId){
      <div
        style="cursor: pointer; border: none; font-size: 24px; color: red; margin-top: 3px;"
        class="me-1"
        (click)="logout()"
      >
        <i class="bi bi-box-arrow-right"></i>
      </div>
      } @else {
      <a routerLink="/login"
        ><p-button styleClass="login-btn" class="login-btn"
          >Login</p-button
        ></a
      >
      }
    </div>
  </ng-template>
</p-menubar>

</div>

<app-chatbot></app-chatbot>



<h1 style="text-align: center; padding: 20px" class="welcome">
  🎬 Welcome to the biggest movies library
</h1>

<p-toast></p-toast>

<router-outlet></router-outlet>
