<div *ngIf="loading" class="spinner-overlay">
  <div class="spinner-border text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="d-flex justify-content-center mb-5">
  <div
    style="position: relative; width: 250px"
    class="d-flex justify-content-center align-items-center"
  >
    <p-iconfield>
      <p-inputicon styleClass="pi pi-search" />
      <input
        type="text"
        pInputText
        [(ngModel)]="searchQuery"
        (input)="onSearch()"
        (keydown.enter)="onSearch()"
        placeholder="Search..."
        style="width: 100%; padding-right: 30px"
      />
      <i
        *ngIf="searchQuery"
        (click)="reset()"
        class="pi pi-times"
        style="
          position: absolute;
          right: 13px;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
          color: #999;
        "
      ></i>
    </p-iconfield>
    <div class="d-flex" style="position: relative">
      <div>
        <div
          class="filter-btn"
          (click)="toggleFilterPanel()"
          [@flipIcon]="iconState"
        >
          <i class="bi bi-filter"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-wrapper">

@if(searchQuery || movies.length>0){


  <div class="carousel-container" [@carouselPush]="isFilterPanelOpen">
    @if(noResultsFound){
    <h4 class="text-center">No movies found for "{{ searchQuery }}"</h4>
    }@else {
    <div class="container my-5">
      <h4 class="mb-4 text-center">Search Results</h4>
      <div class="d-flex flex-wrap justify-content-center gap-4">
        <div *ngFor="let movie of movies">
          <movie-and-tv-card
            [movie]="movie"
            [isSearch]="searchQuery"
            [isFiltered]="isFiltered"
            (trailer)="openTrailer(movie)"
            (verifyRequested)="openAgeModal()"
          ></movie-and-tv-card>
        </div>
      </div>
    </div>
    }
  </div>
  

  <!-- Filter Panel for Search -->
}@else {

  <!-- Carousel Container -->
  <div class="carousel-container" [@carouselPush]="isFilterPanelOpen">
    <div class="container-fluid my-4" style="width: 80%">
      <div *ngIf="userId">
        <h4 class="mb-3 ms-5">Recommended For You</h4>
        <carousel
          [items]="recommendedMovies"
          (trailer)="openTrailer($event)"
          (verifyRequested)="openAgeModal()"
        ></carousel>
      </div>

      <h4 class="mb-3 ms-5 mt-5">Top Rated</h4>
      <carousel
        [items]="topRated"
        (trailer)="openTrailer($event)"
        (verifyRequested)="openAgeModal()"
      ></carousel>

      <!-- Action Movies -->
      <h4 class="mb-3 mt-5 ms-5">Action Movies</h4>
      <carousel
        [items]="action"
        (trailer)="openTrailer($event)"
        (verifyRequested)="openAgeModal()"
      ></carousel>

      <!-- Comedy Movies -->
      <h4 class="mb-3 mt-5 ms-5">Comedy Movies</h4>
      <carousel
        [items]="comedy"
        (trailer)="openTrailer($event)"
        (verifyRequested)="openAgeModal()"
      ></carousel>
    </div>
  </div>
  
}
<div
  [ngClass]="{ hidden: hidePanel }"
  [@slideInOut]="!isMobileView && isFilterPanelOpen ? 'in' : 'out'"
  [@slideInOutMobile]="isMobileView && isFilterPanelOpen ? 'in' : 'out'"
  class="filter-panel"
  [class.mobile-view]="isMobileView"
>
    <button class="filter-panel-close" (click)="toggleFilterPanel()">
      <i class="bi bi-x" style="font-size: 1.2rem; font-weight: bold"></i>
    </button>
    <h5>Filters</h5>
    <div class="form-group">
      <label>Genres</label>
      <p-multiSelect
        [options]="genres"
        [(ngModel)]="selectedGenres"
        optionLabel="name"
        placeholder="Select Genres"
        [maxSelectedLabels]="3"
        styleClass="w-full"
        scrollHeight="250px"
      >
      </p-multiSelect>
    </div>

    <div class="form-group">
      <label>Release Year Range</label>
      <p-slider
        [(ngModel)]="yearRange"
        [min]="1900"
        [max]="2025"
        [range]="true"
        styleClass="purple-slider"
      ></p-slider>
      <div class="d-flex mt-4">
        <p-floatlabel variant="on">
          <input
            pInputText
            [(ngModel)]="yearRange[0]"
            id="min_year"
            maxlength="4"
          />
          <label for="min_year" class="floatlabel">Min Year</label>
        </p-floatlabel>
        <p-floatlabel variant="on" class="ms-3">
          <input
            pInputText
            [(ngModel)]="yearRange[1]"
            id="max_year"
            maxlength="4"
          />
          <label for="max_year" class="floatlabel">Max Year</label>
        </p-floatlabel>
      </div>
    </div>

    <!-- Rating -->
    <div class="form-group">
      <label>Average Rating</label>
      <p-rating
        [(ngModel)]="minRating"
        stars="5"
        styleClass="purple-rating"
      ></p-rating>
      <div>{{ minRating }}+ Stars</div>
    </div>

    <!-- Include Adult -->
    <div class="form-group">
      <label>Include Adult Content</label>
      <p-inputSwitch
        [(ngModel)]="includeAdult"
        styleClass="purple-switch"
      ></p-inputSwitch>
    </div>

    <!-- Buttons -->
    <div class="d-flex justify-content-between mt-4">
      <button
        pButton
        type="button"
        label="Reset"
        severity="secondary"
        (click)="resetFilterForm()"
        style="width: 40%"
        class="ms-4"
      ></button>
      <button
        pButton
        type="button"
        label="Apply"
        severity="help"
        (click)="applyFilters()"
        style="width: 40%"
        class="me-4"
      ></button>
    </div>
  </div>
</div>

<trailer-dialog
  (onClose)="displayTrailerDialog = false"
  [display]="displayTrailerDialog"
  [trailerKey]="trailerKey"
  [selectedMovie]="selectedMovie"
  [selectedMovieGenres]="selectedMovieGenres"
></trailer-dialog>

<verify-age
  [birthDate]="birthDate"
  [showAgeModal]="showAgeModal"
  (onClose)="closeAgeModal()"
></verify-age>
